.light {
  background-color: var(--color-white);
}

.dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.sans {
  font-family: 'Inter';
}

.serif {
  font-family: 'Lato';
}

.mono {
  font-family: 'Inconsolata';
}
