.container {
  width: inherit;
  margin-bottom: var(--space-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg {
  margin-inline-start: 0.6rem;
}

.select_area {
  outline: none;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.select_btn {
  border: none;
  outline: none;
  background: none;
  font-size: var(--font-heading-small);
  font-weight: bold;
}

.item {
  outline: none;
  &:focus,
  &:hover,
  :active {
    background-color: var(--color-grey-light);
    border-radius: 0.5rem;
  }
}

.toggle_btn {
  background: none;
  outline: none;
  border: none;
}

.toggles {
  display: flex;
  gap: var(--space-tiny);
}
