.container {
  width: inherit;
  margin-bottom: var(--space-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-medium);
}

.select_area {
  outline: none;
  width: 163px;
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--space-tiny);
  align-items: center;
  gap: var(--space-medium);
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.select_btn {
  border: none;
  outline: none;
  background: none;
  font-size: var(--font-heading-small);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-right: var(--space-tiny);
  margin-bottom: 0.4rem;
}

.item {
  outline: none;
  font-size: var(--font-heading-small);
  &:focus,
  &:hover,
  :active {
    color: var(--color-almost-purple);
  }
}

.toggle_btn {
  background: none;
  outline: none;
  border: none;
}

.toggles {
  display: flex;
  gap: var(--space-tiny);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.moon {
  margin-bottom: 9px;
}
